* {
    margin: 0;
    padding: 0;
}

body {
    background: url(superman2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

canvas {
    z-index: 2;
}

.top-bar.bar,
.bottom-bar.bar {
    height: 10vh;
}

.top-bar,
.bottom-bar {
    position: fixed;
    width: 100vw;
    /* height: 50vh; */
    background: black;
    position: fixed;
    z-index: 1000;
    top: 0;
    transition: .3s ease-in-out;
}

